.stashit {
	background-color: pink;
	height: 100vh;
	display: grid;
	width: 100%;
	border: 5px solid grey;
	/* grid-template-columns: 80px 1fr`; */
	/* grid-template-rows: 70px auto; */
	box-sizing: border-box;
	/* grid-template-areas:
		"navi navi navi navi"
		"sidebar sidebar sidebar maincontent"
		 */
	grid-template-columns: 70px 145px 30px 1fr 140px;
	grid-template-rows: 40px 1fr;

	gap: 20px;
}




/* 240 1fr  */
.navigation {
	display: flex;
	grid-area: "navi";
	border: 1px solid black;

	/* grid-column: 1 */
}


.nav1 {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-items: space-between;
	border: 3px solid red;

}

.nav2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

}

.nav3 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;

}

.nav4 {
	grid-column-start: 5;
	grid-column-end: auto;
	grid-row-start: 1;
	grid-row-end: 2;
}

.nav2 .sidebar {

	border: 1px solid green;
	height: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: auto;
	position: relative;
}

.mainpage {
	grid-area: "maincontent";
	border: 2px solid black;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: auto;
}