.stashit {
	height: 100vh;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;

}

.sidebar {
	width: 140px;
	border: 1px solid green;
}

.sidebar-open {
	width: 300px;
	border: 1px solid plum;
}

.navbar {
	flex: 0 1 auto;
	margin: 0 16px;
}

/* 240 1fr  */
.navigation {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	clear: both;
	margin: 12px 8px;

	/* grid-column: 1 */
}


/* .nav1 {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-items: space-between;
	border: 3px solid red;

}

.nav2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

}

.nav3 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;

}

.nav4 {
	grid-column-start: 5;
	grid-column-end: auto;
	grid-row-start: 1;
	grid-row-end: 2;
}

.nav2 .sidebar {

	border: 1px solid green;
	height: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: auto;
	position: relative;
} */

.mainpage {
	border: 2px solid black;
}